{deps,[
       {meck,"0.*", {git, "git://github.com/eproxus/meck", {branch, "master"}}},
       {protobuffs, "0.8.3", {git, "https://github.com/basho/erlang_protobuffs.git", {branch, "master"}}},
       {msgpack, ".*", {git, "git://github.com/msgpack/msgpack-erlang.git", {branch, "master"}}}
      ]}.

{cover_enabled, true}.

{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.
